@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.logo {
    font-family: 'Righteous', cursive;
    font-style: italic;
    color: rgb(0, 30, 68);
    font-size: 30px;
}