.error__credentials {
    min-height: 45px;
    background-color: #ffd9d9;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px 0px 25px;
    margin-bottom: 20px;
    color: #a80000;
    font-weight: 500;
    border: 1px solid #a80000;
  }
  
  .error__message {
      padding-top: 10px;
      padding-bottom: 10px;
      width: 260px;
      display: block;
      word-wrap: break-word;
  }
  
  .error__credentials img {
      padding: 10px 0px 10px 0px;
    height: 10px;
    cursor: pointer;
  }
  