# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# docker-compose -f docker-compose.yml -f docker-compose.prod.yml  run --rm --name certbot \
#     -v ./front/nginx/certbot/conf:/etc/letsencrypt \
#     -v ./front/nginx/certbot/www:/var/www/certbot \
#     certbot \
#     certonly --webroot --agree-tos --renew-by-default \
#     --preferred-challenges http-01 --server https://acme-v02.api.letsencrypt.org/directory \
#     --text --email atadurdyyewserdar@gmail.com \
#     -w /var/www/certbot -d serdar.live
