.auth__section {
    height: 100vh;
    background-color: #363636;
}

.auth__container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth__container-box {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 30px 50px 50px 50px;

}

.auth-title {
    text-align: center;   
}

.auth-input-forms {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 350px;
}

.auth-input-forms-helper {
    padding-top: 10px;
}

.remember-me {
    font-size: 12px;
}

.auth-input {
    height: 40px;
    font-size: 14px;
    border-style: solid;
    padding-left: 10px;
}

.auth__action-buttons {
    padding-top: 20px;
    padding-bottom: 5px;
}

.auth__button {
    width: 350px;
    height: 40px;
    border: none;
    background-color: #363636;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.auth__button:hover {
    background-color: #212121;
}

.auth__action-links {
    padding-top: 20px;
    font-size: 14px;
}
